In [3]:
import pandas as pd
import matplotlib.pyplot as plt

rn_con = pd.read_csv('data/modern-renewable-energy-consumption.csv')
rn_cap = pd.read_csv('data/modern-renewable-prod.csv')

rn_con.info()
rn_cap.info()

rn_con_col_names = []
rn_cap_col_names =

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5695 entries, 0 to 5694
Data columns (total 7 columns):
 #   Column                                                                            Non-Null Count  Dtype
---  ------                                                                            --------------  -----
 0   Entity                                                                            5695 non-null   object
 1   Code                                                                              4361 non-null   object
 2   Year                                                                              5695 non-null   int64
 3   Other renewables (including geothermal and biomass) electricity generation - TWh  4978 non-null   float64
 4   Solar generation - TWh                                                            4683 non-null   float64
 5   Wind generation - TWh                                                             4744 non-null   float64
 6   Hydro generation - TWh                                                            5479 non-null   float64
dtypes: float64(4), int64(1), object(2)
memory usage: 311.6+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8957 entries, 0 to 8956
Data columns (total 7 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Entity                                      8957 non-null   object
 1   Code                                        7349 non-null   object
 2   Year                                        8957 non-null   int64
 3   Electricity from wind (TWh)                 7996 non-null   float64
 4   Electricity from hydro (TWh)                8884 non-null   float64
 5   Electricity from solar (TWh)                7956 non-null   float64
 6   Other renewables including bioenergy (TWh)  8164 non-null   float64
dtypes: float64(4), int64(1), object(2)
memory usage: 490.0+ KB

In [4]:
rn_con.head()

,Entity,Code,Year,Other renewables (including geothermal and biomass) electricity generation - TWh,Solar generation - TWh,Wind generation - TWh,Hydro generation - TWh
0,Africa,NaN,1971,0.164,0.0,0.0,26.013390
1,Africa,NaN,1972,0.165,0.0,0.0,29.633196
2,Africa,NaN,1973,0.170,0.0,0.0,31.345707
3,Africa,NaN,1974,0.175,0.0,0.0,35.667076
4,Africa,NaN,1975,0.172,0.0,0.0,37.717968

In [5]:
rn_cap.head()

,Entity,Code,Year,Electricity from wind (TWh),Electricity from hydro (TWh),Electricity from solar (TWh),Other renewables including bioenergy (TWh)
0,ASEAN (Ember),NaN,2000,0.0,50.37,0.0,22.53
1,ASEAN (Ember),NaN,2001,0.0,54.26,0.0,22.42
2,ASEAN (Ember),NaN,2002,0.0,53.32,0.0,22.67
3,ASEAN (Ember),NaN,2003,0.0,53.28,0.0,22.43
4,ASEAN (Ember),NaN,2004,0.0,52.88,0.0,24.14